@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@theme { 
	--color-primary: #3838ec; 
	--color-light-primary: rgba(56, 56, 236, 0.8);
	--color-secondary: #5656ed; 
	--color-dark: #1c1c1c; 
	--color-light-dark: rgba(28, 28, 28, 0.8); 
	--color-bright: #fff; 
} 

@layer base {
	* {
		@apply select-none;
	}
}

body {
	font-family: 'Rubik', sans-serif;
}
