@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@theme {
	--breakpoint-mobile: initial;
	--breakpoint-desktop: 1280px;
}

:root {
	--bg-dark: oklch(0.92 0 138);
	--bg: oklch(0.96 0 138);
	--bg-light: oklch(1 0 138);
	--text: oklch(0.15 0 138);
	--text-muted: oklch(0.4 0 138);
	--highlight: oklch(1 0 138);
	--border: oklch(0.6 0 138);
	--border-muted: oklch(0.7 0 138);
	--primary: oklch(0.4 0.1 138);
	--secondary: oklch(0.5 0.1 138);
	--danger: oklch(0.5 0.05 30);
	--warning: oklch(0.5 0.05 100);
	--success: oklch(0.5 0.05 160);
	--info: oklch(0.5 0.05 260);
}

@layer base {
	* {
		@apply select-none;
	}
}

body {
	font-family: 'Rubik', sans-serif;
}

[data-theme='dark'] {
	--bg-dark: oklch(0.12 0 138);
	--bg: oklch(0.15 0 138);
	--bg-light: oklch(0.2 0 138);
	--text: oklch(0.96 0 138);
	--text-muted: oklch(0.76 0 138);
	--highlight: oklch(0.5 0 138);
	--border: oklch(0.4 0 138);
	--border-muted: oklch(0.3 0 138);
	--primary: oklch(0.76 0.1 138);
	--secondary: oklch(0.86 0.1 138);
	--danger: oklch(0.7 0.05 30);
	--warning: oklch(0.7 0.05 100);
	--success: oklch(0.7 0.05 160);
	--info: oklch(0.7 0.05 260);
}
